<footer>
    <div class="main-footer-f1">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Contact</h6>
              </div>
              <div class="context footer-contact1">
                <ul>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-map-marker-alt fa-color"></i>
                    </span>
                    <span> Avenue Beb Jebli, Sfax, Tunisie</span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-mobile fa-color"></i>
                    </span>
                    <span> +(216) 24 22 88 89</span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fab fa-whatsapp fa-color"></i>
                    </span>
                    <span> +(216) 29 899 916</span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-phone-alt fa-color"></i>
                    </span>
                    <span> +(216) 29 275 777</span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-envelope fa-color"></i>
                    </span>
                    <span> contact@goldenwatch.com</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Informations utiles</h6>
              </div>
              <div class="context footer-contact1">
                <ul>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Qui
                      sommes nous ?</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Sécurité
                      et confidentialité</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i>
                      Conditions de vente</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Mentions
                      légales</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Infos
                      pratiques</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Suivez-Nous</h6>
              </div>
              <div class="soc">
                <div class="line">
                  <div class="footer-res-soc">
                    <ul class="social-icons">
                      <li>
                        <a href="#" class="facebook"
                          ><i class= "fab fa-facebook"></i></a
                        >
                      </li>
                      <li>
                        <a href="#" class="instagram"
                          ><i class= "fab fa-instagram"></i></a
                        >
                      </li>
                      <li>
                        <a href="#" class="twitter"
                          ><i class="fab fa-twitter"></i></a
                        >
                      </li>
                      <li>
                        <a href="#" class="youtube">
                          <i class="fab fa-youtube"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Newsletter</h6>
              </div>
              <div class="footer-contact1">
                <p>
                  Inscrivez-vous à notre newsletter et profitez de nos bons
                  plans...
                </p>
                <input
                  type="text"
                  class="newsletters-input"
                  placeholder="Votre e-mail"
                />
                <button type="submit" class="newsletters-button">
                  S'inscrire
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class="container">
      <div class="contact">
        <h3>Coordonnées</h3>
        <br />
  
        <p>Adresse : Rue du 7 Novembre, Sfax</p>
        <p>Téléphone : +216 24228889</p>
        <p>Email : contact@goldenwatch.com</p>
        <br />
  
        <img
          src="assets/images/Logo png (1).png"
          alt="Golden Watch"
          width="70%"
        />
      </div>
      <div class="description">
        <h3>A propos</h3>
        <p>
          Nous sommes fiers de vous offrir un large choix de montres élégantes et
          tendance, alliant style et fonctionnalité.
        </p>
        <p>
          Situés au cœur de la rue 7 novembre à Sfax, notre boutique en ligne vous
          propose une expérience de shopping exceptionnelle. Notre sélection
          minutieuse de montres haut de gamme vous garantit une qualité
          irréprochable et des designs uniques.
        </p>
        <p>
          Explorez notre site dès maintenant et découvrez l'élégance intemporelle
          des montres Golden Watch. Faites de chaque instant un moment précieux
          avec notre sélection exceptionnelle.
        </p>
      </div>
  
      <div class="categories" style="padding-left: 40px; padding-right: 40px">
        <h3>Catégories</h3>
        <ul>
          <li><a href="#">Homme</a></li>
          <li><a href="#">Femme</a></li>
          <li><a href="#">Enfants</a></li>
        </ul>
      </div>
    </div> -->
    <!-- <div class="main-footer-f1"> -->
    <!-- <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Contact</h6>
              </div>
  
              <div class="context footer-contact1">
                <ul>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-map-marker-alt fa-color"></i>
                    </span>
                    <span> Avenue lorem lorem, Tunisie </span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-mobile fa-color"></i>
                    </span>
                    <span> +(216) 93 000 000 </span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fab fa-whatsapp fa-color"></i>
                    </span>
                    <span> +(216) 93 000 000 </span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-phone-alt fa-color"></i>
                    </span>
                    <span> +(216) 74 000 000 </span>
                  </li>
                  <li class="footer-contact1">
                    <span>
                      <i class="fa fa-envelope fa-color"></i>
                    </span>
                    <span> contact@greentours.com </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Informations utiles</h6>
              </div>
              <div class="context footer-contact1">
                <ul>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Qui
                      sommes nous ?</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Sécurité
                      et confidentialité</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i>
                      Conditions de vente</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Mentions
                      légales</a
                    >
                  </li>
                  <li class="footer-contact1">
                    <a href=""
                      ><i class="fa fa-angle-double-right fa-color"></i> Infos
                      pratiques</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Suivez-Nous</h6>
              </div>
              <div class="soc">
                <div class="line">
                  <div class="footer-res-soc">
                    <ul class="social-icons">
                      <li>
                        <a href="#" class="facebook"
                          ><i class="icofont-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="instagram"
                          ><i class="icofont-instagram"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="twitter"
                          ><i class="icofont-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="youtube"
                          ><i class="icofont-youtube"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="nav-footer">
              <div class="title">
                <h6>Paiement Sécurisé</h6>
              </div>
              <div>
                <img src="public/images/logo/Visa.svg" width="20%" />
                <img src="public/images/logo/mastercard.svg" width="20%" />
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6">
            <div class="nav-footer">
              <div class="title">
                <h6>Newsletter</h6>
              </div>
              <div class="footer-contact1">
                <p>
                  Inscrivez-vous à notre newsletter et profiter de nos bons
                  plans...
                </p>
  
                <input
                  type="text"
                  class="newsletters-input"
                  placeholder="Votre e-mail"
                />
                <button type="submit" class="newsletters-button">
                  S'inscrire
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </footer>
  