<div class="checkout">
    <h1 class="title-checkout">Checkout</h1>
    <!-- <p class="message order-message">{{orderMessage}}</p>-->
    
    <div class="row">
        <div class="col-sm-7 Shipping ">
            <h3 class="material-h3 check-out"> Add Shipping Address</h3>
            <form #orderData="ngForm" class="common-form input-form" (ngSubmit)="orderNow(orderData.value)">
                <input type="email" class="form-control bootstrap-input input-checkout" placeholder="Enter User Email" name="email" ngModel>
                <input type="text" class="form-control bootstrap-input input-checkout" placeholder="Enter your address" name="address" ngModel>
                <input type="text" class="form-control bootstrap-input input-checkout" placeholder="Enter your contact" name="contact" ngModel>
                <button class="btn btn-outline-success material-button input-checkout" type="submit">Order Now</button>
            </form>
        </div>
        
        <!--
        <div class="col-sm-7 Shipping">
            <h3> Add Shipping adress</h3>
            <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
                <input
                type="text" 
                class="from-input"
                 placeholder="Enter User Email" 
                 name="email" 
                 ngModel
                 >
                 <input
                 type="text" 
                 class="from-input"
                  placeholder="Enter your adress" 
                  name="adress" 
                  ngModel
                  >
                  <input
                  type="text" 
                  class="from-input"
                   placeholder="Enter your contact" 
                   name="contact" 
                   ngModel
                   >
                   <button class="form-button">order Now</button>

            </form>
        </div>
-->
        <div class="col-sm-4 summary">
            <div class="item-description">
            <div class="details">
                <h3 class="price-product">Your Total Bill </h3>
            </div>
            
            <ul>
                <li><span>Total amount: </span><span><b>{{totalPrice}}</b></span></li>
                <li><span>payment Methode:</span><span><b>Pay on delivery</b></span></li>
                

            </ul>

        </div>
     

</div>