.product-item {
    background: #e5e5e5;
    /* margin-bottom: 13px; */
    padding-bottom: 12px;
}
a.text-left {

    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

label.label-prix {
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}

.page-header {
    background: #f5f5f5;
    margin-top: 20px;
    border-bottom: none;
    padding: 10px 0;
}

.product-list-wrapper {
    margin-top: 36px;
}

.product-footer.px-3.mb-2.d-flex.justify-content-between.align-items-center {
    margin-top: 26px;
}

button.btn {
    background: black;
    /* color: white; */
    border-radius: 0;
    border-radius: black !important;
}

a {
    color: white;
}


sup {
    background: red;
    color: white;
    font-size: 13px;
}
