<div class="product-list">
  <h1 class="title text-center">All Product List</h1>
  <p class="message">{{ productMessage }}</p>
  <div class="dashboard-wrapper user-dashboard">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Color</th>
            <th>Category</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productList">
            <td><img [src]="item.image" alt="Product Image" /></td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }} TND</td>
            <td>{{ item.color }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.description }}</td>
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">
                  <fa-icon (click)="deleteProduct(item.id)" [icon]="icon" class="fa-icon"
                    style="color: #f76a5f"></fa-icon>
                </button>
                <a class="adjust-updat-link btn btn-default" routerLink="/seller-update-product/{{ item.id }}">
                  <fa-icon [icon]="editicon" class="fa-icon" style="color: #ffca2c"></fa-icon>
                </a>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>