<!-- Login Area-->

<!-- Login Area -->
<section class="signin-page account">
  <div class="container">
    <div class="row">
      </div>
      <div *ngIf="!showLogin" class="col-md-6 col-md-offset-3"  style="margin: 0 auto;">
       <form class="block text-center">
        <a routerLink="/"><img src="../assets/images/Logopng1.png" alt="Logo" class="img-fluid"></a>
        <h2 class="text-center">Welcome Back</h2>
        <p class="errer">{{authErreur}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="Login(sellerLogin.value)" class="text-left clearfix" >
          <div class="form-group">
            <input  type="email" ngModel name="email" placeholder="Enter Email" class="form-control" #email="ngModel"  required>

          </div>
          <div class="form-group">
            <input type="password" ngModel name="password" placeholder="Enter Password"  class="form-control" #password="ngModel" required>
          </div>
          <div class="text-center">

          <button type="submit" class="btn btn-main text-center">login</button>
          </div>
          <a class="auth-toggle-link ms-3" (click)="openSignUp()">Don't Have Account? Click To Sign-up</a>


          
        </form> 

       </form>
          
      </div>
      </div>
</section>
  
  

  
  <section class="signin-page account">
    <div class="container">
      <div class="row">
        </div>
        <div *ngIf="showLogin" class="col-md-6 col-md-offset-3"  style="margin: 0 auto;">
         <form class="block text-center">
          <a routerLink="/"><img src="../assets/images/Logopng1.png" alt="Logo" class="img-fluid"></a>
          <h2 class="text-center">Sign-up</h2>
          <p class="errer">{{authErreur}}</p>
          <form #sellerSignup="ngForm"  (ngSubmit)="signup(sellerSignup.value)" class="text-left clearfix" >
            <div class="form-group">
              <input matInput type="text" ngModel name="name" placeholder="Enter your Name" class="form-control" #name="ngModel"  required>
  
            </div>
            <div class="form-group">
              <input matInput type="email" ngModel name="email" placeholder="Enter Email" class="form-control" #email="ngModel"  required>
  
            </div>
            <div class="form-group">
              <input type="password" ngModel name="password" placeholder="Enter Password"  class="form-control" #password="ngModel" required>
            </div>
            <div class="text-center">
  
            <button type="submit" class="btn btn-main text-center">sign-up</button>
            </div>
            <a class="auth-toggle-link ms-3" (click)="openLogin()">Don't Have Account? Click To Sign-up</a>
  
  
            
          </form> 
  
         </form>
            
        </div>
        </div>
  </section>
