<!-- Partie User login -->
<section class="signin-page account">
  <div class="container">
    <div class="row"></div>
    <div
      *ngIf="!showLogin"
      class="col-md-6 col-md-offset-3"
      style="margin: 0 auto"
    >
      <form class="block text-center">
        <a routerLink="/"
          ><img
            src="../assets/images/Logopng1.png"
            alt="Logo"
            class="img-fluid"
        /></a>
        <h2 class="text-center">User Sign-up</h2>
        <form
          #userSignUp="ngForm"
          class="text-left clearfix"
          (ngSubmit)="signUp(userSignUp.value)"
        >
          <div class="form-group">
            <input
              type="name"
              ngModel
              name="name"
              placeholder="Enter your name"
              class="form-control"
              #password="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              ngModel
              name="email"
              placeholder="Enter Email"
              class="form-control"
              #email="ngModel"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              ngModel
              name="password"
              placeholder="Enter Password"
              class="form-control"
              #password="ngModel"
              required
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-main text-center">
              Sign Up
            </button>
          </div>
          <p class="mt-2">
            Already Have Account?
            <a (click)="openLogin()" class="auth-toggle-link ms-3"
              >Click here</a
            >
          </p>
        </form>
      </form>
    </div> 
  </div>
</section>
<!-- End Partie User login -->
<!-- Partie User login -->
<section class="signin-page account">
    <div class="container">
      <div class="row">
        </div>
<div *ngIf="showLogin" class="col-md-6 col-md-offset-3"  style="margin: 0 auto;">
    <form class="block text-center">
        <a routerLink="/"><img src="../assets/images/Logopng1.png" alt="Logo" class="img-fluid"></a>
    <h2 class="text-center"> User Login</h2>
    <p class="errer">{{ authError }}</p>
    <form
      #userLogin="ngForm"
      class="common-form"
      (ngSubmit)="login(userLogin.value)"
      class="text-left clearfix" >
      <div class="form-group">
        <input  type="email" ngModel name="email" placeholder="Enter Email" class="form-control" #email="ngModel"  required>

      </div>
      <div class="form-group">
        <input type="password" ngModel name="password" placeholder="Enter Password"  class="form-control" #password="ngModel" required>
      </div>
      <div class="text-center"><button
        type="submit"
        [disabled]="userLogin.invalid"
        class="btn btn-main text-center"
      >
        Login
      </button></div>
      <p class="mt-2">
        Want To Create Account? <a (click)="openSignUp()" class="auth-toggle-link ms-3">Click here</a>
      </p>
    </form>
</form>
  </div>
</div>
</section>
<!-- End Partie User login -->
  