
<div class="user-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1 class="mb-4">User Sign-up</h1>
        <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
           <mat-form-field appearance="fill">
               <mat-label>Enter User Name</mat-label>
               <input type="text" matInput placeholder="Enter User Name" name="name" ngModel >
           </mat-form-field>
           <mat-form-field appearance="fill">
               <mat-label>Enter User Email</mat-label>
               <input type="text" matInput placeholder="Enter User Email" name="email" ngModel >
           </mat-form-field>
           <mat-form-field appearance="fill">
               <mat-label>Enter User Password</mat-label>
               <input type="password" matInput placeholder="Enter User Password" name="password" ngModel >
           </mat-form-field>
           <button type="submit" class="btn btn-outline-success mt-4">Sign Up</button>
           <p class="mt-2">Already Have Account? <a (click)="openLogin()">Click here</a></p>
        </form>
    </div>
    <div *ngIf="showLogin" class="user-login">
        <h1 class="mb-4">User Login</h1>
        <p class="errer">{{authError}}</p>
        <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
            <mat-form-field appearance="fill">
                <mat-label >Enter User Email</mat-label>
                <input  type="text" matInput placeholder="Enter User Email" name="email" ngModel email #email="ngModel" required>
                <mat-error *ngIf="email.invalid && email.touched">Please enter your email</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter User Password</mat-label>
                <input  type="password" matInput placeholder="Enter User Password" name="password" ngModel minlength="6" maxlength="20" #password="ngModel" required>
                <mat-error *ngIf="password.invalid && password.touched">Please enter your password</mat-error>
            </mat-form-field>
            <button type="submit" [disabled]="userLogin.invalid" class="btn btn-outline-success mt-4">Login</button>
            <p class="mt-2">Want to Create Account? <a (click)="openSignUp()">Click here</a></p>
        </form>
    </div>
</div>
<!-- 
<div class="user-auth">

    <div *ngIf="!showLogin" class="sign-up">
        <h1 class="mb-4">User Sign-up</h1>
        <form #userSignUp="ngForm" class="common-form">
           <mat-form-field appearance="fill">
               <mat-label>Enter User Name</mat-label>
               <input type="text" matInput placeholder="Enter User Name" name="name" ngModel >
           </mat-form-field>
           <mat-form-field appearance="fill">
               <mat-label>Enter User Email</mat-label>
               <input type="text" matInput placeholder="Enter User Email" name="email" ngModel >
           </mat-form-field>
           <mat-form-field appearance="fill">
               <mat-label>Enter User Password</mat-label>
               <input type="password" matInput placeholder="Enter User Password" name="password" ngModel >
           </mat-form-field>
           <button type="submit" class="btn btn-primary mt-4">Sign Up</button>
           <p class="mt-2">Already Have Account? <a (click)="openLogin()">Click here</a></p>
        </form>
    </div>


    <div *ngIf="!showLogin" class="sign-up">
        <h1>User Sign-up </h1>
        <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">

            <mat-form-field appearance="fill">
                <mat-label>Enter User Name</mat-label>
                <input type="text"
                matInput placeholder="Enter User Name"
                name="name" 
                ngModel >
            </mat-form-field>

           <input type="text" class="from-input" placeholder="Enter User Name" name="name" ngModel >
           <input type="text" 
           class="from-input" 
           placeholder="Enter User Email"
            name="email" ngModel >
           <input 
           type="password" 
           class="from-input" 
           placeholder="Enter User Password" 
            name="password" ngModel >
           <button class="form-button">Sign UP</button>
            <p>Already Have Account ? <a (click)="openLogin()" >click her</a></p>
        </form>
    </div>
    <div *ngIf="showLogin" class="user-login">
        <h1>User login </h1>
         <p class="errer">{{authError}}</p>
        <form #userLogin="ngForm" 
        class="common-form"
         (ngSubmit)="login(userLogin.value)">
           <input
            type="text" 
            class="from-input"
             placeholder="Enter User Email" 
             name="email" 
             ngModel
             email
              #email="ngModel"
             required>
             <p class="invalid-input"><span *ngIf="email.invalid && email.touched">please enter you email</span></p>
           <input
            type="password"
             class="from-input" 
             placeholder="Enter User Password" 
             name="password" 
             minlength="6"
             maxlength="20"
             ngModel  #password="ngModel"
             required>
             <p class="invalid-input"><span *ngIf="password.invalid && password.touched">please enter you email</span></p>


           <button [disabled]="userLogin.invalid" class="form-button">Login</button>
           <p>Want to Create Account ? <a (click)="openSignUp()" >click her</a></p>

       </form>
    </div>
</div>
-->
