<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li><li>/</li>
						

						<li class="">My Order</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container">

<div class="my-orders">
 
    <div class="row order-data">
        <div class="col-sm-3 head ecriture">
            <span> Order</span>
        </div>
        <div class="col-sm-3 head order">
            <span> Order Id</span>
        </div>
        <div class="col-sm-3 head ecriture">
            <span> Price</span>
        </div>
    
        <div class="col-sm-3 head action">
            <span>Action</span>
        </div>

    </div>
    <div class="row order-data" *ngFor="let order of orderData">
    
        <div class="col-sm-3">
            <img src="../assets/images/iit.png" alt="Logo" class="img-fluid">
        </div>
        <div class="col-sm-3">
            <span>{{order.id}}</span>
        </div>
        <div class="col-sm-3">
            <span>{{order.totalPrice}}</span>
        </div>
       
        <div class="col-sm-3">
            <span><button class="btn btn-main text-center" (click)="cancelOrder(order.id)">cancel Order</button></span>
        </div>

    </div>

</div>

</div>
