<div class="container">
    <div class="my-orders">
      <h1  class="title text-center">My orders</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Order</th>
            <th>Order Id</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderData">
            <td>
                <div class="col-sm-3">
                    <img src="../assets/images/iit.png" alt="Logo" class="img-fluid">
                </div>
            </td>
            <td>{{ order.id }}</td>
            <td>{{ order.totalPrice }}</td>
            <td>
              <button class="btn btn-main" (click)="cancelOrder(order.id)">Cancel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>